* {
    box-sizing: border-box;
}

.bg {
    background:#120575;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}

.header {

    color: #ffee00;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(0, 0, 20);
    border-radius: 12px;
    margin-bottom: 20px;

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.header h1 {
     margin-left: auto;
    margin-right: auto;
  padding:20px;
    align-content: center;
colour:yellow;


}

.container {
    max-width: 800px;
    background: #ffffff;
    color: blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px black;

}

h2,
h3 {
    text-align: center;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
}

button {
    background: linear-gradient(135deg, #080147, blue, #080147);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #00032b;
    color: yellow;
}

.semester-box {
    margin-top: 20px;
    padding: 15px;
    border: none;
    border-radius: 8px;
}

.subject-row {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.subject-row input,
.subject-row select {
    flex: 1;
}

.calc-btn {
    margin-top: 15px;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}


.copyright {

    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: left;
    align-content: center;
    display: block;
    line-height: 10px;
    text-align: center;
    margin: auto;


}


/* Mobile Responsive */
@media (max-width: 600px) {
    .subject-row {
        flex-direction: column;
    }

    h2 {
        font-size: 20px;
    }

    input,
    select,
    button {
        font-size: 14px;
        padding: 9px;
    }
}
