* {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background:#daebf7 ;
    margin: 0;
    padding: 10px;
}

.header {
    background: linear-gradient(135deg, #01388b, #0056b3);
    color: #ffffff;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
}

.container {
    max-width: 800px;
    background: #01388b;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
   
}

h2, h3 {
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
}

button {
    background: #01204e;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.semester-box {
    margin-top: 20px;
    padding: 15px;
    border:none;
    border-radius: 8px;
}

.subject-row {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.subject-row input,
.subject-row select {
    flex: 1;
}

.calc-btn {
    margin-top: 15px;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}


.copyright {
    color: #1b1b1b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: left;
    align-content: center;
    display: block;
    line-height: 10px;
    text-align: center;
    margin: auto;
    padding-left: 20px;

}


/* Mobile Responsive */
@media (max-width: 600px) {
    .subject-row {
        flex-direction: column;
    }

    h2 {
        font-size: 20px;
    }

    input, select, button {
        font-size: 14px;
        padding: 9px;
    }
}


